{% extends 'base.html' %}

{% block content %}

    <main>
        <div>
            <h1> Login </h1>
             <form method="post"> {% comment %} post is for when we're gettting information from the server {% endcomment %}      
                {% csrf_token %}
                 {{ form.as_p }} {% comment %} form as p creates a form for us instead of using the input tags {% endcomment %}
                <button>Login</button>
            </form>
        </div>
    </main>

{% endblock content %} 
