

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1> Create a new project </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="control">
                <button class="button">Create</button>
                </div>    
            </form>
        </div>
    </main>
</body>
</html>


{% comment %} Hard work that went to nothing {% endcomment %}

{% comment %} <label for="name">name</label>
<input type="text" id="name" name="name"><br><br>
<label for="members">members</label>
<select name="members" id="members"></select>
<option value="members">{{ project.members.user }}</option>
<label for="description">category</label>
<textarea id="description" name="description"> </textarea> 
<button class="button">Create</button> {% endcomment %}
