


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ project.name }} </h1>
            {% load markdownify %}
            {{ project.description|markdownify }}
            <h2> Tasks </h2>
            <p> 
            <a href="{% url 'create_task' %}"> Create a new task </a> 
            </p>
            {% if project.tasks.all %}
                <table>
                    <thead> {%comment%} This is the table headers {%endcomment%}         
                    <tr> 
                        <th> Name </th>
                        <th> Assignee </th>
                        <th> Start date </th> 
                        <th> Due date </th>
                        <th> Is completed </th>
                    </tr>
                    </thead>  
                        <tbody>
                            {% for task in project.tasks.all %}
                            <tr>
                                <td> {{task.name}} </td>
                                <td> {{task.assignee}}  </td>
                                <td> {{task.start_date}} </td>
                                <td> {{task.due_date}} </td>
                                <td> {{task.is_completed}}  </td>
                            </tr>
                            {% endfor %}
            {% else %} 
                            <p> This project has no tasks </p>  
                        </tbody>
                    </table>
            {% endif %} 
        </div>
    </main>
</body>
</html>



{% comment %} {% if project.tasks.all|length != 0 %}
{% elif project.tasks.all|length == 0 %} {% endcomment %}
{% comment %} <p> {{ project.description }} </p>  {% endcomment %}
